<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Registrar Espacios</title>
        <link rel="stylesheet" href="/stylesheets/indexAgregar.css"/>
    </head>
    <body>
        <section>
            <div class="centro" style="height: 600px;">
                <div>
                    <form action="" method="POST">
                        <h2>Agregar Espacios</h2>
                        <div class="cajastexto">
                            <ion-icon name="storefront-outline"></ion-icon>
                            <input type="text" name="Nombre" required>
                            <label for="">Nombre</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="newspaper-outline"></ion-icon>
                            <input type="text" name="Descripcion" required>
                            <label for="">Descripcion</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="location-outline"></ion-icon>
                            <input type="text" name="Direccion" required>
                            <label for="">Direccion</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="ban-outline"></ion-icon>
                            <input type="text" name="Estatus" required>
                            <label for="">Estatus</label>
                        </div>
                        <button type="submit">Agregar</button>
                        <p id="Emergente" style="color: green; text-align: center; padding-top: 5px;"> <%= Agregado %> </p>
                    </form>
                </div>
            </div>
        </section>

        <script>
            setTimeout(function() { $('#Emergente').fadeOut('fast'); }, 2000);
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>