<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Registrar Admins</title>
        <link rel="stylesheet" href="/stylesheets/indexaggpersonal.css"/>
    </head>
    <body>
        <section>
            <div class="centro">
                <div>
                    <form action="" method="POST">
                        <h2>Agregar Personal</h2>
                        <div class="cajastexto">
                            <ion-icon name="text-outline"></ion-icon>
                            <input type="text" name="Nombre" required>
                            <label for="">Nombre</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="id-card-outline"></ion-icon>
                            <input type="text" name="CI" required>
                            <label for="">Cedula</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="receipt-outline"></ion-icon>
                            <input type="text" name="Cargo" required>
                            <label for="">Cargo</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type="User" name="Usuario" required>
                            <label for="">Usuario</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" name="Contraseña" required>
                            <label for="">Contraseña</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="briefcase-outline"></ion-icon>
                            <input type="text" name="Especialidad" required>
                            <label for="">Especialidad</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="ban-outline"></ion-icon>
                            <input type="text" name="Estatus" required>
                            <label for="">Estatus</label>
                        </div>
                        <button type="submit">Agregar</button>
                        <p id="Emergente" style="color: green; text-align: center; padding-top: 5px;"> <%= Agregado %> </p>
                    </form>
                </div>
            </div>
        </section>

        <script>
            setTimeout(function() { $('#Emergente').fadeOut('fast'); }, 2000);
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>