<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Registrar Proveedores</title>
        <link rel="stylesheet" href="/stylesheets/indexAgregar.css"/>
    </head>
    <body>
        <section>
            <div class="centro" style="height: 750px; width: 500px;">
                <div>
                    <form action="" method="POST">
                        <h2>Agregar Proveedor</h2>
                        <div class="cajastexto">
                            <ion-icon name="business-outline"></ion-icon>
                            <input type="text" name="Empresa" required>
                            <label for="">Empresa</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="id-card-outline"></ion-icon>
                            <input type="text" name="CIF" required>
                            <label for="">CI/RIF</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="globe-outline"></ion-icon>
                            <input type="text" name="WEB" required>
                            <label for="">WEB</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="call-outline"></ion-icon>
                            <input type="text" name="NumeroM" required>
                            <label for="">Numero</label>
                        </div>
                        <div class="cajastexto">
                            <ion-icon name="people-outline"></ion-icon>
                            <input type="text" name="TipodeS" required>
                            <label for="">Tipo de Proveedor</label>
                        </div>
                        <button type="submit">Agregar</button>
                        <p id="Emergente" style="color: green; text-align: center; padding-top: 5px;"> <%= Agregado %> </p>
                    </form>
                </div>
            </div>
        </section>

        <script>
            setTimeout(function() { $('#Emergente').fadeOut('fast'); }, 2000);
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>