<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido al <%= title %></p>
    <p> Para ver los equipos vaya a: <b>http://localhost:3000/api/equipos </b></p>

  </body>
</html>
