<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <tr>
        <td> <a><b>EQUIPOS</b></a> </td>  
      </tr>
      <tr>         
        <td><a>Serial Equipos</a></td>
        <td> <input type='text' placeholder='Serial Equipo' id='Serial_Equipo' class='Serial_Equipo'> </td>
      </tr>
      <tr>
        <td> <a>Nombre equipo</a></td>
        <td> <input type='text' placeholder='Nombre Equipo' id='Nombre_Equipo' class='Nombre_Equipo'> </td>
      </tr>
      <tr>
        <td> <a>Descripción del equipo</a></td>
        <td> <input type='text' placeholder='Descripción' id='Descripcion_Equipo' class='Descripcion_Equipo'> </td>
      </tr>
      <tr>
        <td> <a>Fecha de adquisición</a></td>
        <td> <input type='date' placeholder='Fecha adquisicion' id='Adquisicion_Equipo' class='Adquisicion_Equipo'> </td>
      </tr>
      <tr>
        <td> <a>Estatus</a></td>
        <td> <input type='text' placeholder='Estatus' id='Estatus_Equipo' class='Estatus_Equipo'> </td>
      </tr>
      <tr>
        <td> <input type='button' placeholder='Estatus' id='Estatus_Equipo' class='Estatus_Equipo' value='AGREGAR'> </td>
      </tr>
    </table>
  </body>
</html>
