<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido al <%= title %></p>
    <hr></hr>
    <h1>LOGIN Y REGISTRO</h1>
    <p> Para tener acceso al sistema, ingresa tu usuario en: <b>http://localhost:3000/api/ingresar </b></p>
    <p> Para registrarte en el sistema como Admin, ve a : <b>http://localhost:3000/api/registrar </b></p>

    <hr></hr>
    <h1>EQUIPOS</h1>
    <p> Para consultar todos los equipos vaya a: <b>http://localhost:3000/api/equipos/listar </b></p>
    <p> Para consultar un equipo por serial, ingresa el serial como parametro, Ejemplo: <b>http://localhost:3000/api/equipos/listar/123456 </b></p>
    <p> Para agregar un equipo ingrese la información en el <b>postman o en la pagina web</b>, dentro de la misma direccion: <b>http://localhost:3000/api/equipos </b></p>
    <p> Para Eliminar un equipo ingrese el serial como parametro en postman, Ejemplo: <b>http://localhost:3000/api/equipos/123456 </b></p>
    <p> Para Modificar un equipo ingrese el serial como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/equipos/123456 </b></p>
    <p> Para consultar un equipo por estatus tiene que ingresar el estatus como parametro luego de estatus/ en el <b>postman</b>, Ejemplo: <b> http://localhost:3000/api/equipos/listar/estatus/EstatusenCuestion </b></p>
    <hr></hr>
    <h1>ESPACIOS</h1>
    <p> Para consultar todos los espacios vaya a: <b>http://localhost:3000/api/espacios/listar </b></p>
    <p> Para consultar un espacio por id, ingresa el id como parametro, Ejemplo: <b>http://localhost:3000/api/espacios/listar/9292 </b></p>
    <p> Para agregar un espacio ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/api/espacios </b></p>
    <p> Para Eliminar un espacio ingrese el id como parametro, Ejemplo: <b>http://localhost:3000/api/espacios/9292 </b></p>
    <p> Para Modificar un espacio ingrese el id como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/espacios/9292 </b></p>
    <hr></hr>
    <h1>PERSONAL</h1>
    <p> Para consultar todo el personal vaya a: <b>http://localhost:3000/api/personal/listar </b></p>
    <p> Para consultar un personal por cedula, ingresa el cedula como parametro, Ejemplo: <b>http://localhost:3000/api/personal/listar/29302745 </b></p>
    <p> Para agregar un personal ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/personal </b></p>
    <p> Para Eliminar un personal ingrese la cedula como parametro, Ejemplo: <b>http://localhost:3000/api/personal/29302745 </b></p>
    <p> Para Modificar un personal ingrese la cedula como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/personal/29302745 </b></p>
    <p> Para ver un personal por cargo, tiene que ingresar el cargo como parametro luego de cargo/ <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/personal/listar/Cargo/CargoenCuestion </b></p>

    <hr></hr>
    <h1>SOLICITANTES</h1>
    <p> Para consultar todos los solicitantes vaya a: <b>http://localhost:3000/api/solicitantes/listar </b></p>
    <p> Para consultar un solicitante por cedula, ingresa el cedula como parametro, Ejemplo: <b>http://localhost:3000/api/solicitantes/listar/27352164 </b></p>
    <p> Para agregar un solicitante ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/solicitantes </b></p>
    <p> Para Eliminar un solicitante ingrese la cedula como parametro, Ejemplo: <b>http://localhost:3000/api/solicitantes/27352164 </b></p>
    <p> Para Modificar un solicitante ingrese la cedula como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/solicitantes/27352164 </b></p>
    <hr></hr>
    <h1>RESERVA DE EQUIPOS</h1>
    <p> Para consultar todas las reservas de equipos vaya a: <b>http://localhost:3000/api/reservasequipo/listar </b></p>
    <p> Para consultar una reserva de equipo por id, ingresa el id como parametro, Ejemplo: <b>http://localhost:3000/api/listar/reservasequipo/1 </b></p>
    <p> Para consultar una reserva de equipo en por una fecha, ingresa a la dirrecion /Fecha y colocas la fecha a buscar, Ejemplo: <b>http://localhost:3000/api/reservasequipo/listar/Fecha/2022-05-11 </b></p> 
    <p> Para consultar una reserva de equipo por cedula del solicitante, ingresa el CI como parametro luego de Cedulas/, Ejemplo: <b>http://localhost:3000/api/reservasequipo/listar/Cedulas/28732194 </b></p>
    <p> Para consultar una reserva de equipo por un rango de fechas, ingresas a la dirrecion /Rango1 y colocas la fecha de inico, seguido de eso ingresas a la dirrecion /Rango2 y colocas la fecha de final de busqueda, Ejemplo: <b>http://localhost:3000/api/reservasequipo/listar/Fecha1/2022-05-11/Fecha2/2022-08-24 </b></p> 
    <p> Para agregar una reserva de equipo ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/reservasequipo </b></p>
    <p> Para Eliminar una reserva de equipo ingrese el id como parametro, Ejemplo: <b>http://localhost:3000/api/reservasequipo/1 </b></p>
    <p> Para Modificar una reserva de equipo ingrese el id como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/reservasequipo/1 </b></p>
    <hr></hr>
    <h1>RESERVA DE ESPACIOS</h1>
    <p> Para consultar todas las reservas de espacios vaya a: <b>http://localhost:3000/api/reservasespacio/listar </b></p>
    <p> Para consultar una reserva de espacio por id, ingresa el id como parametro, Ejemplo: <b>http://localhost:3000/api/reservasespacio/listar/1 </b></p>
    <p> Para consultar una reserva de espacio en por una fecha, ingresa a la dirrecion /Fecha y colocas la fecha a buscar, Ejemplo: <b>http://localhost:3000/api/reservasespacio/listar/Fecha/2022-05-11 </b></p> 
    <p> Para consultar una reserva de espacio por un rango de fechas, ingresas a la dirrecion /Rango1 y colocas la fecha de inico, seguido de eso ingresas a la dirrecion /Rango2 y colocas la fecha de final de busqueda, Ejemplo: <b>http://localhost:3000/api/reservasespacio/listar/Fecha1/2022-11-27/Fecha2/2022-12-24 </b></p> 
    <p> Para agregar una reserva de espacio ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/reservasespacio </b></p>
    <p> Para Eliminar una reserva de espacio ingrese el id como parametro, Ejemplo: <b>http://localhost:3000/api/reservasespacio/1 </b></p>
    <p> Para Modificar una reserva de espacui ingrese el id como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/reservasespacio/1 </b></p>
    <hr></hr>
    <h1>FACTURAS</h1>
    <p> Para consultar todas las facturas vaya a: <b>http://localhost:3000/api/facturas/listar </b></p>
    <p> Para consultar una factura por ID, ingresa el ID como parametro, Ejemplo: <b>http://localhost:3000/api/facturas/listar/123456 </b></p>
    <p> Para consultar una factura por CI Del Admin que la registro, ingresa el CI como parametro, Ejemplo: <b>http://localhost:3000/api/facturas/listar/CIADMIN/123456 </b></p>
    <p> Para consultar facturas por un rango de fechas, ingresas a la direccion /Fecha1 y colocas la fecha de inico, seguido de eso ingresas a la dirrecion /Fecha2 y colocas la fecha de final de busqueda, Ejemplo: <b>http://localhost:3000/api/facturas/listar/Fecha1/2022-11-27/Fecha2/2022-12-24 </b></p> 
    <p> Para consultar una factura en por una fecha, ingresa a la dirrecion /Fecha y colocas la fecha a buscar, Ejemplo: <b>http://localhost:3000/facturas/listar/Fecha/2022-05-11 </b></p> 
    <p> Para agregar una factura ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/api/facturas</b></p>
    <p> Para Eliminar una factura ingrese el serial como parametro, Ejemplo: <b>http://localhost:3000/api/facturas/123456 </b></p>
    <p> Para Modificar una factuar ingrese el serial como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/facturas/123456 </b></p>
    <hr></hr>
    <h1>PROVEEDORES</h1>
    <p> Para consultar todos los proveedores vaya a: <b>http://localhost:3000/api/proveedores/listar </b></p>
    <p> Para consultar un proveedor por su CIF, ingresa el CIF como parametro, Ejemplo: <b>http://localhost:3000/api/proveedores/listar/123456 </b></p>
    <p> Para consultar un proveedor por su Numero Telefonico, ingresa el NumM como parametro, Ejemplo: <b>http://localhost:3000/api/proveedores/listar/Num/42493528 </b></p>
    <p> Para consultar un proveedor por su Nombre, ingresa el Empresa como parametro, Ejemplo: <b>http://localhost:3000/api/proveedores/listar/Nombre/:Empresa </b></p>
    <p> Para agregar un proveedor ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/api/proveedores </b></p>
    <p> Para Eliminar un proveedor ingrese el serial como parametro en postman, Ejemplo: <b>http://localhost:3000/api/proveedores/123456 </b></p>
    <p> Para Modificar un proveedor ingrese el serial como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/proveedores/123456 </b></p>
    <hr></hr>
    <h1>TRABAJOS</h1>
    <p> Para consultar todos los trabajos vaya a: <b>http://localhost:3000/api/trabajos/listar </b></p>
    <p> Para consultar un trabajo por su ID, ingresa el ID de Trabajo, Ejemplo: <b>http://localhost:3000/api/trabajos/listar/123456 </b></p>
    <p> Para consultar un trabajo por la Reserva Equipo, ingresa el ID de la Reserva Equipo Ejemplo: <b>http://localhost:3000/api/trabajos/listar/ReservaEq/:ID_ReservaEq </b></p>
    <p> Para agregar un trabajo ingrese la información en el <b>postman o web</b>, dentro de la misma direccion: <b>http://localhost:3000/api/trabajos </b></p>
    <p> Para Eliminar un trabajo ingrese el serial como parametro en postman, Ejemplo: <b>http://localhost:3000/api/trabajos/123456 </b></p>
    <p> Para Modificar un trabajo ingrese el serial como parametro y coloca los datos modificados en el <b>postman</b>, Ejemplo: <b>http://localhost:3000/api/trabajos/123456 </b></p>
    <hr></hr>
  </body>
</html>
