<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Lista de Reserva Espacios</title>
        <link rel="stylesheet" href="/stylesheets/indexlistar.css"/>
    </head>
    <body>

        <div>
          <table class="table table-bordered table-striped" id="TablaListar">
            <caption style="font-size: 50px;"><b>Lista de Reserva Espacios</b></caption>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre_Solicitante</th>
                  <th>CI_Solicitante</th>
                  <th>FechaInicio</th>
                  <th>FechaFin</th>
                  <th>HoraInicio</th>
                  <th>HoraFi</th>
                  <th>ID_Espa</th>
                  <th>Espacio</th>
                  <th>Motivo</th>
                </tr>
              </thead>
              <tbody id="Datostabla">
              </tbody>
          </table>
        </div>
        <p id="Datos" class="invisible"> <%= JSON %> </p>

        <script>

          let res = document.getElementById("Datostabla")
          let Datosjson = JSON.parse(document.getElementById("Datos").innerText)

          res.innerHTML = ""
          for(let item of Datosjson){

            res.innerHTML += `
        
              <tr>
                <td> ${item.ID} </td>
                <td> ${item.Nombre_Solicitante} </td>
                <td> ${item.CI_Solicitante} </td>
                <td> ${item.FechaInicio} </td>
                <td> ${item.FechaFin} </td>
                <td> ${item.HoraInicio} </td>
                <td> ${item.HoraFi} </td>
                <td> ${item.ID_Espa} </td>
                <td> ${item.Espacio} </td>
                <td> ${item.Motivo} </td>
              </tr>
            `
          }
        </script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>