<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Listar Trabajos</title>
        <link rel="stylesheet" href="/stylesheets/indexlistar.css"/>
    </head>
    <body>

        <div>
          <table class="table table-bordered table-striped" id="TablaListar">
            <caption style="font-size: 50px;"><b>Lista de Trabajos</b></caption>
              <thead>
                <tr>
                  <th>ID Trabajo</th>
                  <th>Trabajo</th>
                  <th>Nombre Solicitante</th>
                  <th>ID Reserva Espacio</th>
                  <th>ID Reserva Equipo</th>
                  <th>Descripcion</th>

                </tr>
              </thead>
              <tbody id="Datostabla">
              </tbody>
          </table>
        </div>
        <p id="Datos" class="invisible"> <%= JSON %> </p>

        <script>

          let res = document.getElementById("Datostabla")
          let Datosjson = JSON.parse(document.getElementById("Datos").innerText)

          res.innerHTML = ""
          for(let item of Datosjson){

            res.innerHTML += `
        
              <tr>
                <td> ${item.ID_Trabajo} </td>
                <td> ${item.Trabajo} </td>
                <td> ${item.Nombre_Solicitante} </td>
                <td> ${item.ID_ReservaEs} </td>
                <td> ${item.ID_ReservaEq} </td>
                <td> ${item.Descripcion} </td>
              </tr>
            `
          }
        </script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>